.tiktok__main-item-Container {
  display: flex;
  width: 692px;
  margin-top: 20px;
  position: relative;
  scroll-snap-type: y mandatory;
}
.tiktok__main-item-Container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
  background: rgba(22, 24, 35, 0.2);
}
.tiktok__main-item-Container a {
  text-decoration: none;
  color: black;
}
.avatarContainer {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.avatarContainer img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.tiktok__main-item {
  flex: 1;
  margin-left: 12px;
}

.titleContainer__top {
  display: flex;
  width: 100%;
}
.titleContainer__top button {
  outline: none;
  border: 1px solid var(--red);
  background-color: #ffff;
  color: var(--red);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  border-radius: 5px;
  min-height: 28px;
  min-width: 88px;
}
.titleContainer__top button:hover {
  background-color: rgba(255, 211, 211, 0.3);
}
.titleContainer__top button:active {
  background-color: rgba(255, 149, 149, 0.5);
}
.authorContainer {
  display: flex;
  gap: 3px;
  align-items: center;
}

.authorContainer img {
  width: 1rem;
  height: 1rem;
}
.authorContainer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  margin-right: 4px;
}

.authorContainer h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  line-height: 28px;
}

.authorContainer:hover h3 {
  text-decoration: underline;
}
.videoDesc {
  margin-top: 5px;
}
.videoMusic {
  margin-top: 10px;
}
.videoMusic a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.videoMusic h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.videoMusic h4:hover {
  text-decoration: underline;
}

.videoWrapper {
  height: 600px;
  width: 330px;
  border-radius: 30px;
  position: relative;
  margin: 20px 0;
  display: flex;
}

.feed_video-actions {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: 1rem;
}
.feed_video-actions button {
  outline: none;
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video_sideBar-actionItem_span {
  width: 48px;
  height: 48px;
  background-color: rgba(22, 24, 35, 0.06);
  margin-top: 8px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}
.feed_video-actions span:hover {
  background-color: rgba(22, 24, 35, 0.1);
}
.feed_video-actions strong {
  font-size: smaller;
}
@media screen and (max-width: 1071px) {
  .tiktok__main-item-Container {
    width: 592px;
    max-width: 592px;
  }
}

@media screen and (max-width: 767px) {
  .tiktok__main-item-Container {
    width: calc(100vw - 32px - 68px);
    height: auto;
  }
  .tiktok__main-item-Container a {
    display: block;
  }
  .videoWrapper {
    width: calc(100vw - 32px - 68px);
    height: auto;
  }
  .tiktok__main-item {
    margin: 0;
  }
  .authorContainer {
    display: block;
  }
  .titleContainer__top a {
    display: inline-block;
  }
  .authorContainer__author {
    display: flex;
  }
}
