.bodyContainer {
  margin-top: 60px;
  display: flex;
  width: 100vw;
  max-width: 1150px;
  flex: 1;
  align-self: center;
  justify-content: space-between;
}

.navSide-Wrapper {
  position: relative;
  width: 356px;
  flex: 0 0 356px;
}
.sideBarContainer {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  perspective: 1px;
  transform-style: preserve-3d;
  justify-content: flex-start;
  perspective-origin: right top;
  top: 60px;
  bottom: 0;
  width: 356px;
  background: rgba(255, 255, 255, 1);
  z-index: 9;
  padding-right: 8px;
  position: fixed;
}
.mainContainer {
  width: 692px;
  max-width: 692px;
  padding: 24px 0;
  position: relative;
  margin: 0 16px;
}

@media screen and (max-width: 1071px) {
  .sideBarContainer {
    overflow-y: hidden;
    width: 72px;
    flex: 0 0 72px;
  }
  .navSide-Wrapper {
    width: 72px;
    flex: 0 0 72px;
  }
}
