.bodyContainer {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.bodyWrapper {
  display: flex;
  width: 100vw;
  max-width: 1150px;
  padding: 0 1rem;
}
.sideBarContainer {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  perspective: 1px;
  transform-style: preserve-3d;
  justify-content: flex-start;
  perspective-origin: right top;
  top: 60px;
  bottom: 0;
  width: 356px;
  background: rgba(255, 255, 255, 1);
  z-index: 9;
  padding-right: 8px;
}
.mainContainer {
  margin-right: 16px;
  margin-left: 16px;
  width: 692px;
  max-width: 692px;
  padding: 24px 0;
  position: relative;
}

@media screen and (max-width: 1071px) {
  .sideBarContainer {
    overflow-y: hidden;
  }
}
